.date {
    text-align: right;
    height: 5em;
    padding: 1em;
    background-color: lightgrey;
    border: 1px solid white;
    cursor: pointer;
}

.other-month {
    background-color: grey;
}

.days {
    text-align: center;
}

.days-row {
    border-bottom: 2px solid black;
}

.picker {
    cursor: pointer;
}

.selected {
    background-color: blue;
}