/* Sidebar styles
------------------------------------------------*/
.sidebar {
  width: 255px;
  top: 25px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 25px 0 0 0;
  overflow-x: hidden;
  background-color: #bdbdbd;
}

/* Create Container styles
------------------------------------------------*/
.create-container {
  max-width: 70%;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 100px;
}

.create-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 27px;
  margin-top: 0;
}

.event-type, .event-name, .event-date, .event-location, .event-address, .add-friends, .friends-reqd {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#event-type, #event-name, #event-date, #event-location, #event-address, #friends-reqd, #add-friends {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.submit-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #29bf89;
  color: #fff;
  padding: 5px 25px;
  border-color: #29BF89;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.submit-btn:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #1c2127;
  color: #29bf89;
  padding: 5px 25px;
  border-color: #fff;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Sticky Footer styles
------------------------------------------------*/
.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-Content {
  flex: 1;
}